.bg-login{
    background-color: #F8FAFE;
}
.bg-col{
    height: 500px;
    padding-top: 50px;
}
.bg-col-1{
   
    border-radius:10px;
    text-align: center;
}
img{
    padding-left: 60px;
}

.bg-row{
    border-radius:10px;
    background-color:#FCF3EE;
}

h1{
    font-family:'Helvetica';
    color: black;
}
h4{
    font-family:'Helvetica';
}
.bg-col-1 h1{
    padding-top: 10px
}
.input-align{
    margin-top: 20px;

}
.submit-btn button{
    box-sizing: border-box;
    background-color:#4154f1 ;
    border: 3px solid #4154f1; 
    border-radius: 20px;
    color: white;
    font-weight: bold;
    width: 240px;
    height: 40px;
    text-align: center;
  }
  
  .submit-btn{
    text-align: center;
    padding-top:10px;
    padding-bottom: 20px;
  }
